<div id="am-header">
    <span id="am-title"><a href="?">{$shaarlititle}</a></span>
    {if="!empty($linkcount)"}<span id="am-count" class="nomobile">{$linkcount} and counting!</span>{/if}
<div id="am-searchcontainer">
        <form method="GET" class="searchform" name="searchform">
                <input type="text" tabindex="1" id="searchform_value" name="searchterm" placeholder="search all"
                {if="!empty($search_term)"}
                    value="{$search_term}"
                {/if}
                >
        </form><br/>
         <form method="GET" class="tagfilter" name="tagfilter">
                <input type="text" tabindex="2" name="searchtags" id="tagfilter_value" placeholder="search tags"
                {if="!empty($search_tags)"}
                    value="{$search_tags}"
                {/if}
                autocomplete="off" class="awesomplete" data-multiple data-minChars="1"
                data-list="{loop="$tags"}{$key}, {/loop}"
                >
	</form>
</div>
{if="!empty($_GET['source']) && $_GET['source']=='bookmarklet'"}
    <style type="text/css">#pageheader{margin-top:-10px;width:100%;} #am-header{height:100px;} #am-count{display:none;}</style>
    {ignore} When called as a popup from bookmarklet, do not display menu. {/ignore}
{else}
<div id="am-menu">
    {loop="$plugins_header.buttons_toolbar"}
        {$value}
    {/loop}
  {if="isLoggedIn()"}
    <style type="text/css">.am-hide {display:none;}</style>
    <a id="activeAddlink" href="?do=addlink"><i class="glyphicon glyphicon-plus-sign"></i>  add</a>
    <a href="?do=logout"><i class="glyphicon glyphicon-log-out"></i> logout</a>
    {elseif="$GLOBALS['config']['OPEN_SHAARLI']"}
    <a id="activeOptions" href="?do=tools">options</a><a href="?do=addlink"><i class="glyphicon glyphicon-plus-sign"></i> add</a>
  {else}
    <a id="activeLogin" href="?do=login"><i class="glyphicon glyphicon-log-in"></i> login</a>
  {/if}
</div>
{/if}
</div>
<div class="clear"></div>
