/* Cascading Stylesheet for Shaarli - https://github.com/shaarli/Shaarli           */
/* Template : AlbinoMouse pour Shaarli par Alexis J (http://liens.effingo.be)   */
/* Sources : https://github.com/alexisju/albinomouse-template                       */
/*                                                                                                                                */
/* Version : 20160411                                                                                               */

/* Webfont: Lato-Regular */@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.glyphicon, .fa {
    color: #777777;
    top: 2px!important;
}

body {
    font-family: Lato,Verdana,Arial,Helvetica,sans-serif;
    font-size: 11pt;
    background-color: #ffffff;
    word-wrap: break-word;
}

input, textarea {
    background-color: #FBFBFB;
    padding: 8px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;
    color: #333;
}
input[name="submit"],
input[name="Save"],
input[name="renametag"],
input[name="deletetag"],
input[name="import_file"] {
    background-color: #C93030;
    color: #ffffff;
    border: solid 1px #C93030;
}
a {
    text-decoration: none;
}
b {
    font-weight:600;
}
h1 {
    font-size: 20pt;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 20px;
}

em {
    font-style: italic;
}

/* Buttons */
.bigbutton {
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
    color: #ffffff!important;
    background-color: #C93030!important;
    border-radius: 3px;
    border: solid 1px #C93030!important; 
}
.bigbutton[name="save_edit"] {
    margin-top:5px;
}
.bigbutton[name="cancel_edit"] {
    margin-left:10px;
}
.bigbutton[name="delete_link"] {
    float: right;
}
.smallbutton {
    background-color: #C93030!important;
    border-radius: 3px;
    cursor: pointer;
    height: 20px;
    margin-left: 5px;
    padding: 10px 10px 15px 10px!important;
    color: #ffffff!important;
    font-weight:300!important;
}

/* Small tab on the left of each link with edit/delete buttons. */
.button_edit, .button_delete {
    border-radius: 0;
    box-shadow: none;
    border-style: none;
    border-width: 0;
    padding: 0;
    background: none;
}
.linkeditbuttons {  
    float: right;
    padding: 6px;
    position: relative;
    z-index: 1;
}
.button_edit, .button_delete {
      opacity:0.75
}
.button_edit:hover, .button_delete:hover {  
    opacity:0.95
}

#pageheader #menu {
    width: 100%;
}
#pageheader #logo {
    display:none;
}
#pageheader {
    background-color: rgba(196, 198, 199, 0.3);
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
    font-family:Lato,Sans-Serif;
    font-size: 13pt;
    width: 100%;
    margin: 0px auto;
}
#pageheader a, #pageheader a:visited {
    background-color: #E0E2E2; 
    color:#777777;
    float:left;
    text-decoration:none;
    font-size:13pt;
    padding: 13px;
    margin: 8px 5px;
    border-radius: 5px;
}
#pageheader a:hover {
    background-color: #DDDDDD;
    color:#333333;
    transition-duration:0.5s;
}

#toolsdiv a{
    clear:both;
}
#toolsdiv a span{
    color:#777777;
}

#tagfilter_value, #searchform_value {
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    padding:5px;
    border: none;
    border-radius: 3px;
    margin: 5px 3px 3px 3px;
    color:#777;
}
.tagfilter,.searchform {
    display:inline;
    border: 1px solid #DDDDDD;
    border: none;
}

.menu-droit {
    float:right;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width:65px;
     flex-basis:20px;
}
.menu-droit .glyphicon {
    opacity:0.7;
}
.menu-droit .glyphicon:hover {
    opacity:1;
}

.paging_linksperpage { 
    margin: 0 5px;
}

.paging_options {
    margin: 0 5px;
}

.paging_rss {
    margin: 0 5px;
}

.linksperpage,.addform {
    background-color: #F7F7F7;
    display:inline;
    border: 1px solid #DDDDDD;
    border: none;
    border-radius: 3px;
    margin:10px 3px 3px 3px;
    color:#cecece;
}
.linksperpage {
    background-color: #FFFFFF;
    border-bottom: 1px dotted #DDDDDD;
    padding-bottom: 2px;
    border-radius: 0px;
}
.linksperpage input,.tagfilter input, .searchform input, .addform input{
    border:none;
    color:#606060;
    background:none;
    box-shadow:none;
    padding:5px;
}
.linksperpage input{
    padding:2px;
    width:85px;
}

.dropdown-menu ul li {
        cursor: pointer;
        transition: padding .05s linear;
}
.dropdown-menu ul > li {
        display: inline-block;
}
.dropdown-menu ul li a:hover {
        color: #C93030;
}
.dropdownContain {
        position: asolute;
        z-index: 2;
        left: 70%;
        margin-left: -80px; 
        top: -360px;
        margin-top:15px;
}
.dropOut {
        width: 95px;
        float: left;
        position: absolute;
        margin-top: 0px;
        padding:12px;
        opacity: 0;
        transition: all .1s ease-out;
        z-index: 0;
        background: #FFFFFF;
        border: #DDDDDD solid 2px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
}
.dropOut:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 13px 17px;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        z-index: 1;
        top: -16px;
        left: 72px;
}
.dropOut:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 15px 18px;
        border-color: #DDDDDD transparent;
        display: block;
        width: 0;
        z-index: 0;
        top: -18px;
        left: 70px;
}
.dropOut ul li {
        float: left;
        width: 95px;
        padding: 2px 0px;
        transition: background .1s ease-out;
}
.paging_linksperpage ul li:hover .dropOut { 
        opacity: 1; 
        margin-top: 8px;
        z-index:10;
}

.tagfilter div.awesomplete {
    width: inherit;
}

.tagfilter #tagfilter_value {
    width: 10%;
    width: 100%;
    display: inline;
}

.tagfilter li {
    color: black;
}

.tagfilter input.bigbutton,.searchform input.bigbutton,.addform input.bigbutton{
    padding:0 5px 0 5px;
    margin:5px 0 5px 0;
    cursor:pointer;
}

#am-header {
    height: 192px;
    margin: auto;
    max-width: 980px;
}
#am-menu {
    display:block;
    width:100%;
    margin:71px auto;
}
#pageheader #am-title a {
    background:none;
    font-size: 38px;
    margin-top: 60px;
    padding:0px;
} 
#am-title {
    font-family:Lato;
    font-weight:700;
    font-size: 35px;
    line-height: 1.1em;
    margin:11px 0 0 5px;
}
#am-title a {
    background:none repeat scroll 0 0 transparent;
    color: #C93030 !important; 
    border-radius: 0px;
}
#am-count {
    background-color: #4C4B4A;
    color: #FFFFFF;
    display: inline-block;
    margin-top: 15px;
    padding: 13px;
    position: absolute;
    vertical-align: top;
    font-family:Lato,sans-serif; 
    font-size: 1em;
    font-weight:700;
    border-radius:5px;
}
#am-count:after {
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-left: 19px solid #4C4B4A;
    bottom: -20px;
    content: "";
    left: 20px;
    position: absolute;
}

#pageheader a:visited { color:#777777; text-decoration:none;}
#pageheader a:hover { color:#333333; text-decoration:none;}
#pageheader a:active { color:#777777; text-decoration:none;}
#pageheader a:focus { 
    color:#333333;
    background-color:#DDDDDD;
    text-decoration:none;
}

#searchcriteria { 
    color: #777777;
    font-family: Lato,Sans-Serif;
    font-size: 14pt;
    padding-top: 20px;
}

#searchcriteria a,#searchcriteria a:visited,#searchcriteria_result {
    font-size: 14pt;
    font-weight:bold;
    text-decoration:none;
    word-spacing:3px;
}
#searchcriteria_result i { 
	top: 4px;
}
.am-action_plugin {
    float: left;
    margin: 0px 5px;
}
.paging { 
    border-bottom: 1px solid #E0E2E2;
    clear: both;
    color: #777777;
    font-size: 11pt;
    padding: 10px 5px;
}
.paging a:link { 
    color:#777777; 
    text-decoration:none;
}
.paging a:visited { 
    color:#777777;  
}
.paging a:hover {  
    color:#c93030;  
}
.paging a:active { 
    color:#c93030;  
}
.am-paging {
    float:left;
    position:absolute;
    margin-top:0px;
}
.am-pages {
    width:200px;
    text-align:center;
    margin:0 auto;
}
.paging_current { 
    display:inline; 
    color:#777777;
    padding:4px;
    font-size: 11pt;
}
.paging_older i ,.paging_newer i{ 
    top:2px;
    font-size: 11pt;
}
#am-container {
    width:980px;
    margin: 0 auto;
}
#am-searchcontainer {
    float: right;
    margin-top: 20px;
}
.searchform input {
    width: 250px!important;
}
.tagfilter input {
    width:250px!important;
    margin-top:5px;
}
#loginform {
    color: #4C4B4A;
    margin-bottom: 110px;
    position: relative;
}
#loginform input {
    width:150px;
    background-color: #F7F7F7;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: none;
    color: #333333;
    display: inline;
    margin: 5px 3px 3px;
    padding: 8px;
}
#loginform  #loginbutton {
    width:75px;
    background-color:#C93030;
    color:#ffffff;
    cursor: pointer;
    border:solid 1px #C93030;
}
#loginform  #sessioncheck {
    float:left;
}
#loginform label[for=longlastingsession] {
	margin:10 0 0 40;
}
#sessioncheck  input {
    width:20px!important;
}

.addform input.linkurl {
    width:400px;
    margin:20px 0 100px 0;
    font-size:13pt!important;
    color: #606060!important;
    opacity:1!important;
}
.addform {
    padding:9px!important;
}
.addform .bigbutton {
    padding: 4px!important;
}

#toolsdiv { color:#777777; padding:5px 5px 5px 5px; clear:left; }
#uploaddiv { color:#4C4B4A; padding:5px 5px 5px 5px; clear:left; }
#private {margin-top:15px;}

.am-bookmarklet {
    display:block;
    width:70%;
}

#am-editlinkform-background {
    background-color:rgba(196, 198, 199, 0.3);
    padding-bottom:20px;
}
#editlinkform {
    color: #4C4B4A;
    margin: 0px auto 30px auto;
    font-size:11pt!important;
    width:530px;
}
#editlinkform label {
    color: #4C4B4A;
	cursor: pointer;
}
#editlinkform textarea, #editlinkform input[type=text], .lf_input {
    width:97%;
}

#lf_private {
    margin:0px 0px 5px 2px;
}
.lf_input #lftags {
width:100%
}

#linklist {
    margin: 5px auto;
    max-width: 980px;
}

.linkcontainer {
    margin-bottom:2px;
    padding:12px 0px;
    border-bottom: 1px solid #E0E2E2;
}

.linktitle { 
    font-family:Lato,Sans-Serif;
    font-size:16pt;
    font-weight:500; 
    line-height:24pt;
}
.linktitle a { 
    text-decoration: none; 
    color:#4C4B4A;
}
.linktitle a:hover { 
    color:#C93030; 
}
.linkdate { 
    font-size:11px; 
    color:#4C4B4A; 
}
.linkdate a { 
    padding:2px 0 3px 2px;
    background-repeat:no-repeat;
    text-decoration: none; 
    color:#4C4B4A;
}
.linkdate a:hover { 
    color: #C93030;
}
.am-link_plugin div {
   position:relative;
   display:inline;     
}

.linkurl { 
    font-size:11pt; 
    color:#4C4B4A;
    opacity:0.6;
}
.linkurl  a { 
    margin-left:2px;
    color:#4C4B4A;
    text-decoration:none!important;
}
.linkurl:hover, .linkurl a:hover { 
    opacity:1;
    transition: opacity 0.5s ease-in-out 0s;
}
.linkdescription { 
    color:#4C4B4A; 
    font-weight:normal; 
    max-height:400px; 
    overflow:auto; 
    font-size:11pt;

    background-color: #F0F0F0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.linkdescription a {
    text-decoration: none; 
    color:#3465A4;
}
.linkdescription a:hover { 
    color:#C93030;
}
.linktaglist { 
    padding-top:2px;
}
.linktag {
    font-size:11pt;
    color: #4C4B4A;
    margin-left:5px;
    text-decoration: none;
    word-spacing: 3px;
}
.linktag a:hover {    
    color: #c93030;
    text-decoration: none;
}
.linktag a,.linktag a:visited {    
    color: #4C4B4A;
    text-decoration: none;
}
.linktag i {
    color: #C93030;
}
.linkshort {
    font-size: 8pt;
    color: #888;
}
.linkshort a {
    text-decoration: none;
    color: #393964;
}
.linkshort a:hover {
    text-decoration: underline;
}
.buttoneditform {
    display: inline;
}

#footer {
    position:absolute;
    width:100%;
    background-color: #C93030;
    clear: both;
    color: #FFFFFF;
    font-size: 10pt;
    height: auto;
    padding: 20px 0;
    text-align: center;
}
#footer  a { color:#FFFFFF!important;
    text-decoration:none;
    font-weight:bold;
    padding:0!important;
}
#footer  a:hover{
    color:#FFFFFF;
}

#newversion {
    background-color: #FFFFA0;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 7px 2px 7px;
    font-size: 9pt;
}
#newversion #version_id {
    text-decoration: blink;
}
#cloudtag  { 
    width:980px!important;
    text-align:justify;
    word-spacing: 2px;
    margin-bottom:10px;
}
#cloudtag a, #cloudtag a:visited { 
    color:#C93030 !important; 
    text-decoration:none;
}
#cloudtag a:hover {
    color:#4C4B4A !important; 
    text-decoration:none;
    transition-duration:0.5s;
}
#cloudtag span {
    color:#4C4B4A !important;
}
.count {
    color:#99f; 
    padding-left:5px; 
    padding-right:5px;
}
#install {
	margin: 0 20px;
	width:980px;
}
#installform {
	border: 1px solid black;
	padding: 10px;
}
#installform table {
	border: none;
}
#installform td {
	font-size: 11pt;
	color: black;
	padding: 10px 5px 10px 5px;
	clear: left;
}
#installform input.bigbutton {
	float: right;
}
#changepasswordform {
	color: #606060;
	padding: 10px 5px 10px 5px;
	clear: left;
	margin-bottom:20px;
}
#changetag {
	color: #606060;
	padding: 10px 5px 10px 5px;
	display:flex;
	margin-bottom:20px;
}
#changetag #totag {
	margin-left: 10px;
}
#changetag  div label {
	display:block;
	padding:5px;
}
#changetag li {
	color: #000;
}
#configform td {
	color: #606060;
	padding: 10px 5px 10px 5px;
}
#configform {
	color: #606060;
	padding: 10px 5px 10px 5px;
	clear: left;
	font-size: inherit;
	font-weight:300;
}
#configform select {
	padding:8px;
	border: 1px solid #ddd;
	border-radius: 5px;
	color:#333;
}
#configform input[type=checkbox]{
	margin-right:5px;
}
#configform input[type=text] {
	width:90%;
}
#uploadform {
	margin-bottom:20px;
	padding: 20px 5px;
}
.thumbnail img{
    background-color: #DDDDDD;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    float: right;
    width: 120px;
    height:90px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

/* --- Picture wall CSS --- */
.picwall_container { 
    clear: both;
    margin: 10px auto;
    width: 980px; 
}
.picwall_pictureframe { 
    background-color: #DDDDDD;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    display: table-cell;
    float: left;
    width: 120px;
    height:90px;
    margin: 8px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 5;
}

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity: 0;
}
.b-lazy.b-loaded {
    opacity: 1;
}

.picwall_pictureframe img {
    width: 100%;
    height: 100%!important;
    border-radius:4px;
}

/* Adapt the width of the image */
.picwall_pictureframe a {
    text-decoration:none;
    color:#4C4B4A;
}

/* CSS to show title when hovering an image - no javascript required. */
.picwall_pictureframe span.info {display: none;
    
}
.picwall_pictureframe:hover span.info {
    word-wrap: break-word;
    display:block;
    top:0px;
    position:absolute;
    height:100%;
    width:100%;
    padding:4px;
    font-size:7pt;
    color:#606060;
    text-align: left;
    background-color: #ddd;
}

#linklist li.publicLinkHightLight{
    background: #ffffff;
}

/* --- Daily CSS --- */  
div.daily {                                              
    background-color: #FFFFFF;
    font-family: Lato,Sans-Serif;
    margin: 20px auto;
    position: relative;
    width: 980px;
}
#daily_col1 {
    float: left;
    position: relative;
    width: 33%;
}
#daily_col2 {
    float: left;
    position: relative;
    width: 33%;
}
#daily_col3 {
    float: left;
    position: relative;
    width: 33%;
}
#daily_col1,#daily_col2,#daily_col3 {
    margin-bottom:15px;
}
div.dailyTitle { 
    display:none;
    color:#C93030 ;
    font-weight: normal;
    font-size: 36px;
    text-align:center; 
    font-family:Lato,Sans-Serif;
    padding:5px;
}
div.dailyDate { 
    color: #4C4B4A;
    font-family: Lato,Sans-Serif;
    font-size: 20pt;
    padding: 0 20px 15px;
    text-align: center;
}
div.dailyDate a, div.dailyDate a:visited { 
    text-decoration:none;
    color: #4C4B4A;
}

#dailyPaging .am-paging  {
    margin-top:0px;
}

#dailyPaging {
    text-decoration:none;
    font-family:Lato, sans-serif;
    font-size:11pt;
    color:#777;
    text-align:center;
    padding:0px 5px 10px 5px;
    border-bottom: 1px solid #E0E2E2;
}

#dailyPaging a,#dailyPaging a:visited{
    text-decoration:none;
    font-family:Lato,sans-serif;
    color:#777;
}
#dailyPaging a:hover{
    color:#C93030;
}

#dailyLinktag, #dailyLinktag a {
    color:#4C4B4A;
    font-size:8pt;
    padding-right:8pt;
}
#dailyLinktag a:hover {
    color:#C93030;
}

div.daily div.dailyDate span {
    display:none
} 

/* Individual entries in "Daily": */
div.dailyEntry{
    margin: 5px 10px 2px 5px;
    font-size: 11pt;
    border-bottom: 1px solid #E0E2E2;
    padding-bottom: 6px;
}
div.dailyEntry  a {
    text-decoration:none; 
    color: #4C4B4A ; 
}
div.dailyEntryTags { 
    font-size:11pt;  
    word-spacing:3px;
    padding: 5px 0px;
}
div.dailyEntryTitle {
    font-size: 15pt;
    line-height: 1.2em;
    padding: 5px 0px;
}
div.dailyEntryTitle a {
    color:#C93030;
}
div.dailyEntryTitle a:hover {
    color: #4C4B4A ; 
}
div.dailyEntryLinkdate a {
    color:#4C4B4A;
}
div.dailyEntryLinkdate a:hover {
    color:#C93030;
}
div.dailyEntryThumbnail { 
    text-align:center; 
    margin:20px 0px 2px 0px;
}
div.dailyEntryDescription { 
    margin-top: 3px;
    margin-bottom: 3px; 
    text-align:left; 
    overflow:auto;
    color:#4C4B4A ;
	font-size:11pt;
}
div.dailyEntryDescription  a{ 
    color:#C93030 ;
}
.linkeditbuttonsDaily, .linkeditbuttonsDaily input {
    opacity:0.75;
    margin-top:5px;
    z-index: 1;
}
.linkeditbuttonsDaily input:hover {
    font-weight:bold;  
    opacity:1;
    z-index: 1;
}

/* Common CSS screwdriver */
.clear {
    clear: both;
}
.right {
    text-align: right;
}
.white {
    color: white;
}

.center {
    text-align: center;
}

/* For lazy images loading in picture wall.
   using http://www.appelsiini.net/projects/lazyload 
 */
.lazyimage { display:none; }

@media print {
    html {
    border: none;
    background: #fff !important;
    color: #000 !important;
}
body {
    font-size: 12pt;
    width: auto !important;
    margin: auto !important;
}
/* Minimum numer of lines to display when splitting a paragraph
over two pages */
p {
    orphans: 3;
    widows: 3;
}
a {
    color: #000 !important;
    text-decoration: none !important;
}
#pageheader, .paging, #linklist li form, #footer {
    display: none;
}
#linklist li {
    padding: 2px 0px 10px 0px;
    border-top: 2px solid #000;
    clear: both;
}
#linklist li.private {
    border-left: 0;
}
.linkdate {
    line-height: 2;
}
.linkurl {
    color: #000;
}
.linkdescription {
    font-size: 11pt;
}
.linktag {
    border: 1px solid black;
    font-style: italic;
    font-size: 8pt;
}
}

/* Highlight search results */
.highlight {
    background-color: #FFFF33;
}

ul.errors {
    color: red;
    float: left;
}

/* Pluginadmin */

#pluginsadmin {
width: 80%;
padding: 20px 0 0 20px;
}

#pluginsadmin label {
cursor: pointer;
}

#pluginsadmin section {
padding: 20px 0;
}

#pluginsadmin .plugin_parameters {
margin: 10px 0;
}

#pluginsadmin h1 {
font-style: normal;
}

#pluginsadmin h2 {
font-size: 1.4em;
font-weight: bold;
}

#pluginsadmin table {
width: 100%;
}

#pluginsadmin table, #pluginsadmin th, #pluginsadmin td {
border-width: 1px 0;
border-style: solid;
border-color: #c0c0c0;
}

#pluginsadmin table th {
font-weight: bold;
padding: 10px 0;
}

#pluginsadmin table td {
padding: 5px 0;
}

#pluginsadmin input[type=submit] {
margin: 10px 0;
}

#pluginsadmin .plugin_parameter {
padding: 5px 0;
border-width: 1px 0;
border-style: solid;
border-color: #c0c0c0;
}

#pluginsadmin .float_label {
float: left;
width: 20%;
}

#pluginsadmin a {
color: black;
}

.linklist-plugin-icon {
       width: 13px;
       height: 13px;
}

/* 404 page */
.error-container {
    
    margin: 50px;
    margin-top: 20px;
}

.error-container h1 {
    text-decoration: none;
    font-style: normal;
    color: #C93030;
}

/* Intégration plugins tiers */
.md_help {
    padding:5px !important;
    color: #4C4B4A !important;
}

.md_help a {
    float:none !important;
    background-color:none !important;
    color: #4C4B4A !important;
    padding:0 !important;
    margin:0 !important;
    font-size:inherit !important;
    text-decoration:none!important;
}

/* ---------------------- Responsive Albinomouse Template --------------------------------------------------*/

@media handheld, only screen and (max-width: 480px), only screen and (max-device-width: 854px) {

html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #777777;
}
.nomobile  { 
display:none; 
}
#menu, #am-container, #linklist, .picwall_container, .daily, .cloudtag  {
    width:100%!important;
    display:inline;
    margin:0;
}
#logo {
    display:none;
}
#pageheader a{
    padding:10px!important;
    margin:4px!important;
}
#pageheader {
    padding-bottom:12px;
    width:100%;
}
#am-header {
    margin: auto;
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
}
#am-count {
display:none;
}
#am-title,#am-title a {
    margin:0!important;
    font-size:25pt!important;
}
#am-menu {
    height:auto;
    width: auto!important;
    margin:10px 5px!important;
    position:relative;
}
#am-searchcontainer {
    float:none;
    margin:0px 5px!important;
}
#am-searchcontainer input {
    width:250px!important;
}
#am-searchcontainer label {
    cursor: pointer;
}
#loginform {
    clear: both;
    color: #4C4B4A;
    display: block;
    float: none;
    height: 100%;
    padding: 5px;
    position: relative;
    margin:25px 0;
    width: 95%;
}
#loginform #sessioncheck {
    float: left;
}
#logo {
display:none;
}
#pageheader a {
    padding:5px;
    margin:3px;
}
#linklist li {
    padding:0 10px;
}
.paging_linksperpage {
display:none;
}
.searchform {
margin-bottom:5px;
}
.searchform, .tagfilter {
    margin: 0px!important;
    padding: 8px !important;
    width: 100% !important;
}
.searchform input, .tagfilter input {
    margin: 6px !important;
    padding: 6px !important;
    display: inline !important;
}
.tagfilter input.bigbutton, .searchform input.bigbutton, .addform input.bigbutton {
    width: 30%;
    font-size: smaller;
}
#searchform_value {
    width: 95% !important;
}
#tagfilter_value {
    width: 95% !important;
}
.am-paging {
position:relative;
}
.paging_linksperpage {
    float: none;
    margin-bottom: 10px;
    font-size: smaller;
}
.paging, #dailyPaging {
    text-align: center;
    font-size:14pt;
    margin-top:-15px;
    background-color: #E0E2E2;
    color: #777777;
    margin: 0px;
    padding:13px;
    text-decoration: none;
}
#dailyPaging .am-paging {
    display: block;
}
div.dailyDate {
    margin-top: 123px;
}
.paging_current { 
    font-size: 14pt;
}

.paging_older i ,.paging_newer i { 
    font-size: 14pt;
}
.paging_newer {
    float:right;
}
.paging_older {
    float:left;
}
.thumbnail {
    float: none;
    height: auto;
    margin: 0px;
    text-align: center;
}
#cloudtag {
    padding: 5px;
}
div.dailyEntry { 
    padding:0px 3px 10px 3px;
}
#daily_col1, #daily_col2, #daily_col3 {
    float: none;
    width: 100%;
    padding: 0px;
}
div.dailyTitle {
    font-size: 18pt;
    margin-top: 5px;
    padding: 0px;
}
div.dailyDate {
    font-size: 11pt;
    padding: 0px;
    display: block;
}
div.dailyEntryTitle {
    font-size: 16pt;
    font-weight: bold;
}
div.dailyEntryDescription {
    font-size: 11pt;
}
div#permalinkQrcode {
    left:0px;
    top:0px;
    position:relative;
    padding:13px 23px 7px 15px;
    border:none;
    border-radius:5px;
}
#footer {
    height: auto;
} 
#changepasswordform input {
    margin-bottom:10px;
}
#changetag {
    display:block;
}
#changetag #totag {
    margin-left:0px;
    margin-bottom:10px;
}
}
